/* PROPRIÉTÉS GÉNÉRALES */
body {
	width: auto;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Protest Riot";
	font-size: 42px;
	color: #CE6A6B;
}

h2 {
	font-family: "Quicksand";
	color: #4A919E;
	font-weight: bolder;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}

p {
	font-family: "Quicksand";
	color: #212E53;
}

/* HEADER */
.header-menu {
	background-color: #212E53;
	font-family: "Quicksand";
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
}

/* Logo */
.header-menu img {
	width: 100px;
	height: 100px;
	border: none;
	padding: 5px 0;
	margin-right: 500px;
}

/* Menu */
.menu {
	display: flex;
	gap: 30px;
	align-items: center;
}

.menu .nav-link i {
	margin-right: 10px;
	font-size: 1.2em;
}

.menu .nav-link {
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: border-color 0.3s ease-in-out;
}

.menu .nav-link:hover {
	color: #EBACA2;
	border-bottom: 2px solid #EBACA2;
}

/* MAIN */
main {
	margin: 5px 0;
	padding: 15px 30px;
	background-color: #ece3e2;
}

/* LOGIN */
.fixed-image {
	width: 500px;
	height: 500px;
	object-fit: cover;
}

/* Formulaire avec animation */
.formulaire {
	opacity: 0;
	transform: translateX(-100px);
	animation: slideIn 1s forwards;
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* Style par défaut des formulaires */
.form-check-input {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid #a75455;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	background-color: #ece3e2;
	transition: all 0.3s ease;
}

.form-check-input:checked {
	background-color: #212E53;
	border-color: #4A919E;
}

.form-check-label {
	color: #212E53;
	font-family: "Quicksand";
}

.form-label {
	color: #212E53;
	font-family: "Quicksand";
	font-weight: bolder;
}

.form-control {
	font-family: "Quicksand";
}

/* Bouton avec effet d'animation */
.btn {
	font-family: "Quicksand";
	width: 200px;
	background-color: transparent;
	color: #CE6A6B;
	border: 2px solid #CE6A6B;
	transition: 0.3s ease-in-out;
	position: relative;
}

.btn:hover {
	background-color: #CE6A6B;
	border: 2px solid transparent;
}

.btn i {
	font-size: 15px;
	margin-right: 5px;
}

/* FOOTER */
.footer {
	background-color: #212E53;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	color: white;
}

.footer p {
	padding: 0 30px;
	color: white;
}

.bloc1 {
	font-family: "Quicksand";
	display: flex;
	flex-direction: column;
	flex: 1;
	font-size: 14px;
}

.bloc1 .nav-link,
.bloc1 .liens .nav-link {
	color: white;
	text-decoration: underline;
	font-weight: 600;
}

.bloc1 .nav-link:hover,
.bloc1 .liens .nav-link:hover {
	color: #EBACA2;
}

.bloc1 i {
	margin-right: 10px;
	font-size: 3.2em;
}

.liens {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
}

.bloc2 {
	font-family: "Quicksand";
	border-left: solid 2px white;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	gap: 15px;
}

.bloc2 .footer-menu {
	display: flex;
	flex-direction: row;
	font-size: 16px;
}

.bloc2 .footer-menu .nav-link {
	color: white;
}

.bloc2 .social-media i {
	font-size: 1.5em;
	margin-right: 50px;
	color: white;
	transition: border-color 0.3s ease-in-out;
}

.bloc2 .footer-menu .nav-link:hover,
.bloc2 .social-media i:hover {
	color: #EBACA2;
}