{% extends 'pro.twig' %}

{% block main %}
<div class="container mt-3 p-4">
    <h1 class="text-center">Louer un nouveau matériel</h1>
    <form action="pro.php?page=materiel&action=create" method="post" enctype="multipart/form-data">
        
        <div class="mb-3">
            <label for="nom" class="form-label">Nom du matériel</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description du matériel</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Description" required>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" name="image" required>
        </div>

        <div class="mb-3">
            <label for="categorie" class="form-label">Catégorie</label>
            <select class="form-select" id="categorie" name="categorie" required>
                <option value="machine a coudre">Machine à coudre</option>
                <option value="kit de couture">Kit de couture</option>
                <option value="bobine">Bobine</option>
                <option value="metre ruban">Mètre ruban</option>
                <option value="ciseaux">Ciseaux</option>
            </select>
        </div>
        
        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn5" value="Louer">
        </div>

    </form>
</div>
{% endblock %}
